*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  max-height: 100vh;
}

li {
  list-style-type: none;
  list-style: none;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 20vh auto;
  background: rgb(149, 186, 186);
  max-width: 90%;
}

.heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 10px 12px;
  padding-top: 14px;
  padding-right: 14px;

}

.task-input {
  height: 40px;
  padding: 0 0.75rem;
  position: relative;
}

.task-input input {
  border-width: 0;
  height: 100%;
  width: 100%;
  margin-top: 6px;
  font-size: 1rem;
  padding: 1rem 2rem 1rem 0.5rem;
}

.task-input input::placeholder {
  color: #bfbfbf;
  font-style: italic;
}

.task-input i {
  position: absolute;
  top: 65%;
  transform: translate(-30px, -50%);
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-btn {
  outline: none;
  border: none;
  cursor: pointer;
  background: #bfbfbf;
  padding: 14px;
  font-size: 14px;
}

.task-box {
  margin-top: 20px;
}

.task label {
  display: flex;
}

.task .settings {
  cursor: move;
  position: relative;
  width: 25px;
  height: 25px;
}

.settings .task-menu {
  position: absolute;
  background: #fff;
  z-index: 2;
  border-radius: 4px;
  bottom: 8px;
  box-shadow:  0 0 6px rgba(0,0,0,0.15);
  transform: scale(0);
  transform-origin: top right;
  transition: transform 0.3s ease;
}

.settings:hover .task-menu {
  transform: scale(1);
}

.task-menu li {
  height: 25px;
  font-size: 16px;
  justify-content: flex-start;
}

.task-menu li:last-child {
  margin-bottom: 0;
}

.task label input {
  margin-top: 3px;
  margin-right: 25px;
}
.task-box .task {
  font-size: 16px;
  margin: 10px 12px;
}

.task-box .task:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .wrapper {
    max-width: 50%;
    border-radius: 12px;
  }
}
