* {
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  /* background-color: bisque; */
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.container h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  height: 30px;
  border-bottom: 0.6px solid gray;
  padding: 1rem;
}

.container ul {
  display: flex;
  flex-direction: column;
}

.container li {
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 0.6px solid gray;
  height: 40px;
}

.container li.checked {
  text-decoration: line-through;
}

.taskList input[type="text"]:focus,
.container li:focus {
  background: #cffacf;
}

.container li p {
  cursor: pointer;
  /* width: 10%; */
  margin-left: 10px;
}

.clearButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 0.6px solid gray;
  height: 50px;
  background: #cffacf;
  cursor: pointer;
}

.container form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 1rem;
}

.container form input {
  width: 95%;
  height: 40px;
  outline: none;
  border: none;
  font-size: 1rem;
}

.fa-trash-can,
.fa-arrows-rotate {
  cursor: pointer;
}

.fa-ellipsis-vertical {
  cursor: grab;
}

.fa-ellipsis-vertical:active {
  cursor: grabbing;
}

.fa-arrow-turn-down {
  /* transform: rotate(90deg); */
  /* font-size: 12px; */
  /* color: #777776; */
  cursor: pointer;
}

.container form input::placeholder {
  font-style: italic;
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  width: 65%;
  height: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 1px 10px 0 grey;
  border-radius: 12px 12px 0 0;
}

.taskList input[type="text"] {
  outline: none;
  border: none;
  width: 75%;
  padding: 0.75rem;
  font-size: 1rem;
}

.dragging {
  opacity: 0.5;
  background: red;
}

@media screen and (max-width: 768px) {
  .container {
    width: 70%;
  }

  .container li {
    padding: 3px 15px;
  }
}
